*{ box-sizing: border-box; }
html {
    width: 100%;
    background: url(images/texture-sweater.jpg) ;
    background-size: 250px 250px;
    background-repeat: repeat;
    background-attachment: fixed;

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(15, 15, 15);
}
body { width: 100%; margin: 0;}

/*   ШАПКА С ЗАГОЛОВКОМ   */
header {
    background: url(images/texture-sweater-pink.jpg);
    background-attachment: fixed;
    background-size: 600px;
    box-shadow: 0 -2px 10px rgb(47, 47, 47)  inset,
                0 0 20px rgb(0, 0, 0);
    color: rgb(49, 41, 41);
    height: 80px;
    padding: 5px;
    text-align: center;
}
h1 { margin: 0; font-size: 1.8em; }
h2 { margin: 0; font-size: 1.4em; }
span {          font-size: 1.2em;}
.span-input, input {
    position: absolute;
}
#span-input-column  { top: 48px; left: 5px;}
#column             { top: 50px; left: 100px;}
#span-input-row     { top: 28px; left: 5px;}
#row                { top: 30px; left: 100px;}

/*   MAIN + INPUT#ROW, INPUT#COLUMN   */
main {
    width: 100%;
    padding: 5px 20px;
    display: table-cell;
    text-align: center;
}

/*   КОТИКИ  */
.kindness, .img-cat-box {
    display: inline-block;
}
.cats { 
    margin-bottom: 40px ;
    vertical-align: top; /* выравнивание по верхней границе */
}
.box {
    text-align: left;
    background: url(images/box2.jpg);
    background-size: 100%;
    width: 266.67px;
    height: 177.67px;
    box-shadow: 0 0 10px rgb(47, 47, 47)  inset,
                0 0 20px rgb(0, 0, 0);
    border: 3px solid rgb(38 32 48);
}
/*  доброта  котиков */
.kindness { 
    width: 25px;
    position: relative;
    margin: auto 0 -6px 6px;
    padding: 0;
}
.lapka {
    background: url(images/lapka.png);
    background-size: 25px;
    width: 25px;
    height: 25px;
    margin: 4px 0;

    opacity: 0.4;
    transition: transform .5s, opacity .5s;
}
.kindness:hover .lapka { opacity: 0;}
.kindness:hover .lapka:hover {
    cursor: pointer;

    transform-origin: 50%;
    transform: scale(1.6);

    opacity: 1;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .8); /* Параметры тени */

    transition: transform .5s, opacity .5s;
}
.lapka:nth-of-type(n):hover ~ .lapka  { opacity: 1;}
.lapka:active { opacity: 1;}
.lapka.star { opacity: 1;}

/*  фото  котиков */
.img-cat-box {
    margin: 15px auto auto 30px;
    width: 140px;
    height: 140px;
}
.img-cat {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 7px rgb(47, 46, 46); /* Параметры тени */

    transition: transform .5s;
}
.img-cat:hover {
    transform-origin: 50%;
    transform: scale(1.2);
}



.info {
    margin-top: 8px;
    padding: 10px;
    background: url(images/box2text.jpg);
    background-size: 100%;
    width: 266.67px;
    max-height: 184px;
    box-shadow: 0 0 10px rgb(47, 47, 47)  inset,
                0 0 20px rgb(0, 0, 0);
    border: 3px solid rgb(38 32 48);
}
.info:hover { max-height: 100%;}
.name, .info {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category, .price, .description { 
    text-align: left;
    hyphens: auto;         /* авто перенос слов */
    -webkit-hyphens: auto; /* Firefox  */
    -moz-hyphens: auto;    /* Chrome, Safari, Androis и iOS  */
    -ms-hyphens: auto;     /* Internet Explorer  */
}
.description { margin-top: 10px;}
.category span, .price span { color: rgb(168, 3, 3);}
.name a {
    font-weight: bold;
    font-size: 1.1em;
    white-space: nowrap;
}
.name a:link, .name a:visited {
    color: rgb(15, 15, 15);
}
.name a:hover { 
    color: rgb(168, 3, 3);
    cursor: pointer;
}

/*   INPUT#ROW, INPUT#COLUMN   */
#column:checked ~ main { 
    display: inline-block;
    text-align: center;
}
#column:checked ~ main .box, #column:checked ~ main .info { 
    display: inline-block;
    vertical-align: top; /* выравнивание по верхней границе */
    margin: 0;
}
#row:checked ~ main .cats { display: inline-block; }
#column:checked ~ main .info { max-height: 177.67px;}
#column:checked ~ main .info:hover { max-height: 100%;}

